$cell-size: 30px
@mixin dfaj
    display: flex
    justify-content: center
    align-items: center
    

body
    background-color: #333

.container
    height: 95vh
    width: 100%
    @include dfaj
    flex-direction: column
    

    ul
        @include dfaj
        list-style-type: none
        margin: 0
        padding: 0

        li
            background-color: #cc8f8f
            width: $cell-size
            height: $cell-size
            margin: 0
            padding: 0
            border: solid 0.1px
            border-color: #465046

.snake-head
    background-color: #30f508 !important

.apple
    background-color: orangered !important

.snake-ending
    background-color: red